<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>{{ resume.basics.name }} - Resume</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>
        {{ css_content | safe }}
    </style>
</head>
<body class="A4">
    <div class="page sheet">
        <div class="cv-header">
            <h1>{{ resume.basics.name }}</h1>
            <div class="profile-pic"><img src="{{ picture_url }}" alt="{{ resume.basics.name }}"></div>
        </div>
        <div class="content">
            <div class="l-bar">
                {% include 'components/about.html' %}
                {% include 'components/skills.html' %}
                {% include 'components/languages.html' %}
            </div>
            <div class="r-bar">
                <div class="main-content">
                    {% include 'components/summary.html' %}
                    {% include 'components/experience.html' %}
                    {% include 'components/education.html' %}
                    {% include 'components/portfolio.html' %}
                    {% include 'components/hobbies.html' %}
                    <div class="cv-footer">
                        {{ cv_footer_text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
